src/test/resources/schemas/sequence.xsd

<!--
  ~ Copyright (c) 2010-2014 Stratumsoft Technologies Pvt. Ltd.
  ~
  ~ This file (sequence.xsd) is part of xsd2xml.
  ~
  ~ xsd2xml is a Java program to generate XML instances from an XML Schema document
  ~
  ~ xsd2xml is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ xsd2xml is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ To use xsd2xml in your non-GPL licensed software, contact Stratumsoft Technologies
  ~ support at support@stratumsoft.com or visit http://www.stratumsoft.com to obtain
  ~ a commercial license.
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:simpleType name="sequenceIDType">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            A Sequence ID is generated by
            the database.  Sequences are
            integers that start with "0"
        </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:nonNegativeInteger"/>
</xsd:simpleType>

<xsd:element name="sequenceID"
             type="sequenceIDType"
             abstract="true">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This element type is
            non-instantiable:  the element
            must be replaced by a substitution
            group in either a derived type or
            an instance.
        </xsd:documentation>
    </xsd:annotation>
</xsd:element>

<xsd:element name="unitID"
             type="sequenceIDType"
             substitutionGroup="sequenceID">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This element represents sequence
            IDs for unit items.
            This element provides a valid
            substitution for "sequenceID".
        </xsd:documentation>
    </xsd:annotation>
</xsd:element>

<xsd:element name="bulkID"
             type="sequenceIDType"
             substitutionGroup="sequenceID">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This element represents sequence
            IDs for bulk items.
            This element provides a valid
            substitution for "sequenceID".
        </xsd:documentation>
    </xsd:annotation>
</xsd:element>

<xsd:element name="assemblyID"
             type="sequenceIDType"
             substitutionGroup="sequenceID">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This element represents sequence
            IDs for assembled items.
            This element provides a valid
            substitution for "sequenceID".
        </xsd:documentation>
    </xsd:annotation>
</xsd:element>

</xsd:schema>
